body {
    padding: 0;
    margin: 0;
    background-image: url(image/bg2.svg);
    font-family: 'Sofia' sans-serif;
}

/* Navbar */
nav {
    display: flex;
    background-color: rgb(27,118,253);
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: rgb(168, 203, 255);
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(168, 203, 255);
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: rgb(235, 241, 252);
}
/* Akhir Navbar */

/* pembungkus */
.pembungkus {
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.pembungkus img {
    margin-top: 70px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 1px 1px 10px 10px rgba(0,0,0,0.49);
    opacity: 0;
    transform: translate(0, -40px);
    transition: .3s;
}

#beranda:hover {
    transform: scale(1.2);
}

img.isiMuncul {
    opacity: 1;
    transform: translate(0,0);
}

h2 {
    font-size: 30px;
    color: rgb(27,118,253);
    text-shadow: -2px -3px 8px rgba(0,0,0,0.6);
}

h2:hover {
    cursor: pointer;
    transition: .5s;
    letter-spacing: 5px;
}

.quotes {
    margin-top: -20px;
    margin-bottom: 50px;
    color: green;
    font-size: 16px;
}

.pemilik {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.pemilik.isiMuncul {
    opacity: 1;
    transform: translate(0,0);
}

.quotes {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .7s;
}

.quotes.isiMuncul {
    opacity: 1;
    transform: translate(0,0);
}

/* tentang */
.about {
    display: flex;
    justify-content: space-evenly;
}

.tentang, .tugas, .kontak {
    padding: 30px;
    margin: 20px;
    background-color: rgb(24,116,253);
    border-radius: 10px;
    color: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
}

.tentang h3 {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.hobbi, .profil, .kemampuan {
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.tentang .isiTentang {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.tentang h3.muncul, .isiTentang.muncul, .hobbi.muncul, .profil.muncul, .kemampuan.muncul {
    opacity: 1;
    transform: translate(0,0);
}

.tentang ul{
    text-align: left;
    list-style-type: circle;
}

.tentang .hobbi {
    background-color: blueviolet;
}

.tentang .profil {
    background-color: orange;
}

.tentang .kemampuan {
    background-color: salmon;
}
/* akhir tentang */

/* tugas */
.task {
    display: flex;
}

.task ul{
    text-align: left;
    list-style-type: circle;
}

.tugas h3 {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.task .p0Semua {
    width: 20%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.tugas h3.muncul, .p03.muncul, .p04.muncul, .p05.muncul, .p06.muncul, .p07.muncul {
    opacity: 1;
    transform: translate(0,0);
}

.p03 { background-color: salmon; }
.p04 { background-color: blue; }
.p05 { background-color: purple; }
.p06 { background-color: rgb(26, 158, 55); }
.p07 { background-color: rgb(52, 224, 224); }

.tugas li a {
    color: #fff;
    text-decoration: none;
}

.tugas li a:hover {
    background-color: #fff;
    color: salmon;
    border-radius: 3px;
}
/* akhir tugas */

/* kontak */
.tengah {
    display: flex;
    justify-content: center;
}

.kontak .facebook, .instagram, .youtube, .website, .whatsapp {
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 10px rgba(0,0,0,0.49);
    background-size: cover;
    transition: 0.2s;
    opacity: 90%;
    cursor: pointer;
}

.facebook { background-image: url(image/facebook.png); }

.facebook:hover {
    transform: scale(1.7);
    opacity: 100%;
}

.instagram { background-image: url(image/instagram.png); }

.instagram:hover {
    transform: scale(1.7);
    opacity: 100%;
}

.youtube { background-image: url(image/youtube.png); }

.youtube:hover {
    transform: scale(1.7);
    opacity: 100%;
}

.website { background-image: url(image/website.png); }

.website:hover {
    transform: scale(1.7);
    opacity: 100%;
}

.whatsapp { background-image: url(image/whatsapp.png); }

.whatsapp:hover {
    transform: scale(1.7);
    opacity: 100%;
}

.kontak .sosmed {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.kontak .sosmed.sMuncul {
    opacity: 1;
    transform: translate(0,0);
}
/* akhir kontak */
/* akhir pembungkus */

/* footer */
.footer {
    position: absolute;
    right: 0;
    left: 0;
    height: 50px;
    background-color: rgb(24,116,253);
    padding: 10px;
}

.footer p {
    text-align: center;
    color: #fff;
    font-family: "Trirong", sans-serif;
}
/* akhir footer */

/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}
/* akhir ukuran tablet */

/* ukuran mobile */
@media only screen and (max-width: 576px) {
    nav {
        background-color: purple;
        color: rgb(250, 229, 250);
    }

    nav .logo {
        display: none;
    }

    nav ul li a {
        color: rgb(250, 229, 250);
    }

    .pembungkus img {
        width: 130px;
    }

    h2 {
        font-size: 23px;
        color: purple;
    }

    .quotes {
        font-size: 7px;
    }

    h3 {
        font-size: 14px;
    }

    .about {
        flex-wrap: wrap;
    }

    .tentang, .tugas, .kontak {
        background-color: purple; 
    }

    .isiTentang { font-size: 12px; }

    .task {
        flex-wrap: wrap;
        justify-content: center;
    }

    .task .p0Semua {
        width: 300px;
        height: 300px;
    }

    .p05 { background-color: orange; }

    .tugas li a { font-size: 13px; }

    .kontak p { font-size: 13px; }

    .kontak .facebook, .instagram, .youtube, .website, .whatsapp {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .footer {
        height: 40px;
        background-color: purple;
        padding: 10px;
    }
    
    .footer p {
        text-align: center;
        color: #fff;
        font-family: "Trirong", sans-serif;
        font-size: 13px;
    }
}
/* akhir ukuran mobile */