* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(218, 172, 0);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar img {
  width: 3rem;
  height: 3rem;
}

.navbar p {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.8rem;
}

.navbar p span {
  font-size: 0.8rem;
  font-weight: lighter;
}

.navbar .navbar-nav a {
  display: inline-block;
  font-size: 1rem;
  margin: 0 2rem;
  color: #fff;
}

.navbar .navbar-nav a:hover {
  color: rgb(0, 190, 201);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(0, 190, 201);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra {
  display: none;
}

.navbar .navbar-extra a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #fff;
}

.navbar .search-form {
  display: flex;
  box-shadow: 5px 5px 8px 5px rgba(74, 74, 74, 0.1);
}

.navbar .search-form input {
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  padding: 1rem;
  background-color: rgb(252, 195, 2);
  color: #fff;
}

.navbar .search-form input::placeholder {
  color: #fff;
}

.navbar .search-form label {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgb(0, 190, 201);
  color: #fff;
}

/* Hero Section */
.hero {
  display: flex;
  padding-top: 8rem;
  min-height: 80vh;
  justify-items: center;
  align-items: center;
  background-color: rgb(252, 195, 2);
  width: 100%;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4rem;
  color: #fff;
  max-width: 40rem;
}

.hero .content p {
  color: #fff;
  font-size: 1.2rem;
  max-width: 35rem;
}

.hero .content .cta,
.service-1 .row .cta,
.service-3 .row .cta,
.service-4 .row .cta {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgb(0, 190, 201);
  margin-top: 2rem;
}

.hero .content .our-service {
  background: none;
  border: 0.1rem solid #fff;
  margin-left: 2rem;
}

.hero .hero-photo {
  width: 25rem;
}

/* Service-1 Section */
.service-1,
.service-2,
.service-3,
.service-4,
.service-5,
.service-7 {
  padding: 5rem 7%;
}

.service-1 .row,
.service-3 .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

.service-1 .row .left-side,
.service-1 .row .right-side,
.service-3 .row .left-side,
.service-3 .row .right-side {
    width: 50%;
}

.service-1 .row .left-side h2,
.service-3 .row .right-side h2 {
  font-size: 3rem;
}

.service-1 .row .left-side p,
.service-3 .row .right-side p {
  font-size: 1.2rem;
}

.service-1 .row .left-side .cta,
.service-3 .row .right-side .cta {
  background-color: #fcc302;
}

.service-1 .row .right-side,
.service-3 .row .left-side {
  width: 25rem;
  height: 25rem;
  position: relative;
  background-image: url("../image/service-1/service-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-1 .row .right-side::after,
.service-3 .row .left-side::after {
  content: "";
  display: block;
  width: 25rem;
  height: 25rem;
  background-color: rgba(218, 172, 0, 0.5);
}

.service-1 .row .right-side::before {
  content: "";
  display: block;
  width: 10rem;
  height: 10rem;
  background-color: #fcc302;
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
}

.service-1 .row .right-side .play-videos-icon,
.service-3 .row .left-side .play-videos-icon {
  position: absolute;
}

.service-1 .row .right-side .play-videos-icon a,
.service-3 .row .left-side .play-videos-icon a {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  color: #fcc302;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Service 2 Section*/
.service-2,
.service-4 {
  background-color: #fcc302;
}

.service-2 h2,
.service-4 h2,
.service-5 h2,
.service-7 h2 {
  text-align: center;
  font-size: 2.6rem;
  color: #fff;
}

.service-2 p.sub-title,
.service-4 p.sub-title,
.service-5 p.sub-title,
.service-7 p.sub-title {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  color: #fff;
}

.service-2 .row,
.service-4 .row,
.service-5 .row,
.service-6 .row,
.service-7 .row {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.service-2 .row .card {
  width: 25%;
}

.service-2 .row .card .card-header img,
.service-4 .row .card .card-header img,
.service-5 .row .image-card img {
  width: 100%;
  border: 5px solid #fff;
  background-color: #fff;
}

.service-2 .row .card .card-body h3,
.service-5 .row .card .card-body h3,
.service-7 .row .card .card-body h3 {
  text-align: center;
  color: #fff;
  margin: 1rem 0;
}

.service-2 .row .card .card-body p,
.service-5 .row .card .card-body p,
.service-7 .row .card .card-body p {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  /* max-width: 20rem; */
}

/* Service 3 Section */
.service-3 .row .right-side {
  text-align: right;
}

.service-3 .row .left-side {
  background-image: url("../image/service-3/service-3.png");
}

.service-3 .row .left-side::before {
  content: "";
  display: block;
  width: 10rem;
  height: 10rem;
  background-color: #fcc302;
  position: absolute;
  right: -25px;
  bottom: -25px;
  z-index: -1;
}

/* Service 4 Section */
.service-4 .row .card {
  width: 25%;
}

.service-4 .row .card .card-header img {
  width: 100%;
}

.service-4 .row .card .card-body {
  text-align: center;
}

.service-4 .row .card .card-body .animal-price {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
}

.service-4 .row .card .card-body .animal-price span {
  text-decoration: line-through;
  text-decoration-thickness: 5px;
}

.service-4 .row .card .card-body .cta {
  border-radius: 2rem;
  color: #fff;
  background-color: rgb(0, 190, 201);
  margin-top: 1rem;
}

/* Service 5 Section */
.service-5 h2,
.service-5 p.sub-title,
.service-5 .row .card .card-body h3,
.service-5 .row .card .card-body p {
  color: #333;
}

.service-5 .row .card {
  width: 25%;
}

.service-5 .row .card .card-header img {
  width: 100%;
  border: none;
  background-color: #fff;
}

.service-5 .row .card .card-body h3 {
  margin: 0.2rem 0;
}

.service-5 .row .card .card-body .social-media,
footer .row .footer-social-media .social-media {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.service-5 .row .card .card-body .social-media a,
footer .row .footer-social-media .social-media a {
  width: 2rem;
  height: 2rem;
  color: #fff;
  margin-top: 1rem;
  background-color: #daac00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Service 6 Section */
.service-6 {
  max-width: 100vw;
}

.service-6 .row {
  padding: 1.4rem 7%;
  width: 100%;
  height: 80vh;
  align-items: center;
  position: relative;
  background-image: url("../image/service-6/image4-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.service-6 .row::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(218, 172, 0, 0.5);
}

.service-6 .row .health-card {
  width: 20%;
}

.service-6 .row .health-card p {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.service-6 .row .health-card p.health-name {
  font-weight: 700;
}

.service-6 .row .health-card .icons {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  font-size: 5rem;
  color: #fff;
}

/* Service 7 Section */
.service-7 .row .card {
  width: 25%;
}

.service-7 .row .card .card-header img {
  width: 100%;
}

.service-7 .row .card-body {
  padding: 1rem;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.service-7 .row .card-body.card-main {
  border: none;
}

.service-7 h2,
.service-7 p.sub-title,
.service-7 .row .card .card-body h3,
.service-7 .row .card .card-body p {
  color: #343434;
}

.service-7 .row .card .card-body h3,
.service-7 .row .card .card-body p {
  text-align: left;
  width: 15rem;
}

.service-7 .row .card .card-body p.date,
.read-more-btn {
  color: rgb(0, 190, 201);
}

.service-7 .row .card .card-body p.desc {
  font-size: 1rem;
  padding: 1rem 0;
}

/* Footer */
footer {
  background-color: #343434;
  padding: 5rem 7%;
  color: #fff;
}

footer .row {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

footer .row .about,
.services,
.footer-social-media {
  padding: 1rem;
  width: 30%;
}

footer .row .about h3,
.services h3,
.footer-social-media h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

footer .row .about a,
.services a {
  display: block;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

footer .row .footer-social-media {
  display: flex;
  justify-content: end;
  text-align: right;
}

footer .row .footer-social-media a.telegram {
  height: 3rem;
  margin-top: 1rem;
  background-color: #daac00;
  display: flex;
  justify-content: end;
}

footer .row .footer-social-media a.telegram i {
  color: #fff;
  font-size: 2rem;
  background-color: #00bec9;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .row .footer-social-media .social-media {
  justify-content: end;
}

footer .row .footer-social-media .social-media a {
  color: #343434;
  margin-top: 1rem;
  background-color: #fff;
}


/* Breakpoints  */

/* Large Device */
@media (max-width: 992px) {
  .navbar {
    padding: 0.5rem 7%;
  }

  .navbar .navbar-nav,
  .navbar .search-form {
    display: none;
  }

  .navbar .navbar-extra {
    display: inline-block;
  }

  .hero,
  .service-1 .row,
  .service-2 .row,
  .service-3 .row,
  .service-4 .row,
  .service-5 .row,
  .service-6 .row,
  .service-7 .row,
  footer .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero .content h1 {
    font-size: 3rem;
  }

  .service-6 .row .health-card {
    width: 50%;
  }

  .service-2 .row .card,
  .service-4 .row .card,
  .service-5 .row .card,
  .service-7 .row .card {
    width: 40%;
  }

  footer .row .about,
  .services,
  .footer-social-media {
    width: 100%;
  }
}


/* Medium Device */
@media (max-width: 768px) {
  .service-2 .row .card,
  .service-4 .row .card,
  .service-5 .row .card,
  .service-7 .row .card {
    width: 60%;
  }
}


/* Small Device */
@media (max-width: 576px) {
  html {
    font-size: 90%;
  }
  
  .hero .content .cta {
    font-size: 0.9rem;
  }

  .service-1 .row .left-side,
  .service-1 .row .right-side,
  .service-3 .row .left-side,
  .service-3 .row .right-side {
    width: 100%;
  }

  .service-1 .row .right-side,
  .service-1 .row .right-side::after,
  .service-3 .row .left-side,
  .service-3 .row .left-side::after {
    width: 18rem;
    height: 18rem;
  }

  .service-2 .row .card,
  .service-4 .row .card,
  .service-5 .row .card,
  .service-7 .row .card {
    width: 100%;
  }

  .service-6 .row {
    height: 100%;
  }

  .service-6 .row .health-card .icons {
    font-size: 3rem;
  }
}
