:root {
  --primary: #e8631c;
  --bg: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Oswald", sans-serif;
  color: black;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo img {
  width: 5rem;
}

.navbar .navbar-nav a {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 2rem;
  color: #fff;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

#hamburger-menu {
  display: none;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 50rem;
}

.hero .content h1 {
  font-size: 5rem;
  text-transform: capitalize;
  color: #fff;
  line-height: 1.2;
  margin-top: 10rem;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #fff;
  line-height: 1.4;
  font-weight: 200;
}

.hero .content .cta,
.section-3 .row .content .btn,
.section-4 .row .content .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 5rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  text-transform: uppercase;
  transition: 0.3s;
}

.hero .content .cta:hover,
.section-3 .row .content .btn:hover,
.section-4 .row .content .btn:hover {
  transform: scale(1.1);
}

/* Section 1 */
.section-1,
.section-2,
.section-5,
.section-6,
.section-7 {
  padding: 5rem 7%;
  background-color: var(--primary);
  text-align: center;
  color: #fff;
}

.section-1 h2.sub-title,
.section-2 h2.sub-title,
.section-3 .row .content h2.sub-title,
.section-4 .row .content h2.sub-title,
.section-5 h2.sub-title,
.section-6 .row .content h2.sub-title,
.section-7 .row .content h2.sub-title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}

.section-1 p.desc,
.section-2 p.desc,
.section-3 .row .content p.desc,
.section-4 .row .content p.desc,
.section-5 p.desc,
.section-6 .row .content p.desc,
.section-7 .row .content p.desc {
  color: #fff;
  font-size: 1.5rem;
  max-width: 40rem;
  margin: 2rem auto 3rem;
  font-family: "Montserrat", sans-serif;
}

.section-1 .row,
.section-2 .row,
.section-5 .row {
  display: flex;
  justify-content: space-between;
}

.section-1 .row .card,
.section-2 .row .card {
  background-color: var(--bg);
  width: 30%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.section-1 .row .card .card-header img {
  width: 100%;
}

.section-1 .row .card .card-body,
.section-2 .row .card .card-body {
  padding: 1.2rem;
}

.section-1 .row .card .card-body h3,
.section-2 .row .card .card-body h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.section-1 .row .card .card-body p,
.section-2 .row .card .card-body p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

/* Section 2 */
.section-2 {
  background-color: var(--bg);
}

.section-2 .row .card {
  background-color: var(--primary);
}

.section-2 .row .card .card-header {
  padding: 2rem 2rem 5rem;
}

.section-2 .row .card .card-header img {
  width: 50%;
}

.section-2 .row .card .card-body .btn {
  display: inline-block;
  background-color: var(--bg);
  padding: 1rem 30%;
  margin-top: 1rem;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.section-2 .row .card .card-body .btn:hover {
  transform: scale(1.1);
}

/* Section 3 & Section 4*/
.section-3,
.section-4 {
  background-color: var(--primary);
}

.section-3 .row,
.section-4 .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 .row .about-img,
.section-4 .row .about-img {
  flex: 1 1 40%;
  height: 100vh;
  width: 100%;
  background-image: url(../img/section-3/img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-4 .row .about-img {
  background-image: url(../img/section-4/img-1.jpg);
}

.section-3 .row .content,
.section-4 .row .content {
  flex: 1 1 40%;
  padding: 0 5rem;
}

.section-3 .row .content p.desc,
.section-4 .row .content p.desc {
  max-width: 45rem;
}

.section-3 .row .content .btn,
.section-4 .row .content .btn {
  background-color: var(--bg);
  margin-top: 0;
}

/* Section 5 */
.section-5 {
  background-color: var(--bg);
}

.section-5 .row {
  justify-content: space-evenly;
}

.section-5 .row .card .card-header h3 {
  font-size: 3rem;
}

.section-5 .row .card .card-body p {
  font-size: 2.5rem;
}

.section-5 .row .card {
  width: 30%;
}

/* Section 6 */
.section-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/section-6/img-1.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.section-6:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(232, 99, 28, 0.6);
}

.section-6 .row .content {
  z-index: 1;
}

.section-6 .row .content h2.sub-title {
  font-size: 3rem;
}

.section-6 .row .content p.desc {
  font-size: 1.8rem;
}

/* Section 7 */
.section-7 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-7 .row .content .subs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.section-7 .row .content input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.2rem;
}

.section-7 .row .content input::placeholder {
  color: #696969;
  letter-spacing: 0.1rem;
}

.section-7 .row .content .btn {
  display: flex;
  background-color: var(--bg);
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 100%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}

.section-7 .row .content .btn:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  padding: 5rem 7%;
  background-color: var(--bg);
}

footer .row .content {
  display: flex;
  justify-content: space-between;
}

footer .row .musicology .social-media {
  display: flex;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

footer .row .musicology .social-media a {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg);
  transition: 0.3s;
}

footer .row .musicology .social-media a:hover {
  transform: scale(1.1);
}

footer .row .musicology .social-media i {
  font-size: 1.2rem;
}

footer .row .content .musicology,
footer .row .content .about,
footer .row .content .services,
footer .row .content .other {
  width: 30%;
  padding: 1rem;
}

footer .row .content .musicology h3,
footer .row .content .about h3,
footer .row .content .services h3,
footer .row .content .other h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

footer .row .content .about a,
footer .row .content .services a,
footer .row .content .other a {
  display: block;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

footer .row .content .musicology p {
  font-size: 1.2rem;
  max-width: 28rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* Media Queries */
/* Desktops */
@media (max-width: 1200px) {
}

/* Tablets */
@media (max-width: 992px) {
  html {
    font-size: 80%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--bg);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    text-align: center;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .section-1 .row .card,
  .section-2 .row .card,
  .section-5 .row .card {
    width: 30%;
  }

  .section-3 .row .about-img,
  .section-4 .row .about-img {
    height: 50vh;
  }

  .section-3 .row .content,
  .section-4 .row .content {
    padding: 0 2rem;
  }
}

/* Landscape Phones */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  .section-1 .row,
  .section-2 .row,
  .section-5 .row {
    justify-content: center;
    gap: 2rem;
  }

  .section-1 .row .card,
  .section-2 .row .card,
  .section-5 .row .card {
    width: 70%;
  }

  footer .row .content {
    flex-wrap: wrap;
    gap: 2rem;
  }

  footer .row .content .musicology,
  footer .row .content .about,
  footer .row .content .services,
  footer .row .content .other {
    width: 80%;
  }
}

/* Potrait Phones */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .section-1 .row,
  .section-2 .row,
  .section-3 .row,
  .section-4 .row,
  .section-5 .row {
    flex-wrap: wrap;
  }

  .section-1 .row .card,
  .section-2 .row .card,
  .section-5 .row .card {
    width: 80%;
  }

  .section-3 .row .content,
  .section-4 .row .content {
    margin: 2rem;
    text-align: center;
  }

  .section-4 .row .about-img {
    order: 1;
  }

  .section-4 .row .content {
    order: 2;
  }

  footer .row .content .musicology,
  footer .row .content .about,
  footer .row .content .services,
  footer .row .content .other {
    width: 100%;
  }
}
